@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  height: 100%;
}

.custom-bg{
  background: #0A192F;
  color: #fff;
  /* //backgroundf: #1d2839; */
}


.financeFormField label{
  color: #ddd;
}
.financeFormField form select{
  color: black;
  background-color: #eeee;
  padding: .5rem;
  
}
.financeFormField form textarea{
  color: black;
}

.responsive-layout{
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width:1530px) {
  .responsive-layout{
    width: 1280px;
  }
}

.navbar{
  color: #fff;
}